## .NET
bin/
obj/
*.user
*.suo
*.cache
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.sln.ide/
launchSettings.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/

## Publish
publish/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
dist/
